<%- include("header") -%>
    <div class="box" id="heading">
        <h1>It's a
            <%= listTitle %>!</h1>
    </div>
    <div class="box">
        <div class="box">

            <% newListItems.forEach((element) => { %>
                <form action="/delete" method="POST">
                    <div class="item">
                        <input type="checkbox" name="checkbox" onchange="submit()" value="<%=element._id%>">
                        <p>
                            <%= element.name %>
                        </p>
                        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
                    </div>
                </form>

                <% }) %>


        </div>
        <form class="item" action="/" method="POST">
            <input type="text" name="task" placeholder="New Task" autocomplete="off">
            <button type="submit" name="list" value="<%=listTitle%>">+</button>

        </form>
    </div>

    <%- include("footer") -%>